In [55]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression

In [56]:
url = 'https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day40-iterative-imputer/50_Startups.csv'
df = np.round(pd.read_csv(url)[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
df.to_csv('trai.csv')
np.random.seed(9)
df.head()

   R&D Spend  Administration  Marketing Spend  Profit
0       17.0            14.0             47.0    19.0
1       16.0            15.0             44.0    19.0
2       15.0            10.0             41.0    19.0
3       14.0            12.0             38.0    18.0
4       14.0             9.0             37.0    17.0

In [57]:
df = df.iloc[:,0:-1]
df

    R&D Spend  Administration  Marketing Spend
0        17.0            14.0             47.0
1        16.0            15.0             44.0
2        15.0            10.0             41.0
3        14.0            12.0             38.0
4        14.0             9.0             37.0
5        13.0            10.0             36.0
6        13.0            15.0             13.0
7        13.0            15.0             32.0
8        12.0            15.0             31.0
9        12.0            11.0             30.0
10       10.0            11.0             23.0
11       10.0             9.0             25.0
12        9.0            13.0             25.0
13        9.0            14.0             25.0
14       12.0            16.0             26.0
15       11.0            12.0             26.0
16        8.0            12.0             26.0
17        9.0            15.0             28.0
18        9.0            11.0             29.0
19        9.0            15.0              0.0
20        8.0            11.0             30.0
21        8.0            15.0             30.0
22        7.0            12.0             30.0
23        7.0            11.0             30.0
24        8.0            10.0             14.0
25        6.0            14.0             14.0
26        8.0            14.0             13.0
27        7.0            13.0             35.0
28        7.0            18.0             12.0
29        7.0            15.0             11.0
30        6.0            12.0              9.0
31        6.0            15.0              9.0
32        6.0            13.0              5.0
33        6.0            10.0             21.0
34        5.0            16.0             21.0
35        5.0             9.0             21.0
36        3.0            13.0             20.0
37        4.0             5.0             20.0
38        2.0             7.0             19.0
39        4.0             8.0             17.0
40        3.0            12.0             17.0
41        3.0             8.0             16.0
42        2.0            10.0             15.0
43        2.0            13.0              4.0
44        2.0            15.0              3.0
45        0.0            12.0              0.0
46        0.0            12.0             30.0
47        0.0            14.0              0.0
48        0.0             5.0              0.0
49        0.0            12.0              5.0

In [58]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

In [59]:
df.head()

   R&D Spend  Administration  Marketing Spend
0       17.0            14.0             47.0
1        NaN            15.0             44.0
2       15.0            10.0             41.0
3       14.0             NaN             38.0
4       14.0             9.0             37.0

In [60]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [61]:
# 0th Iteration
df0

    R&D Spend  Administration  Marketing Spend
0   17.000000       14.000000        47.000000
1    7.163265       15.000000        44.000000
2   15.000000       10.000000        41.000000
3   14.000000       12.163265        38.000000
4   14.000000        9.000000        37.000000
5   13.000000       10.000000        36.000000
6   13.000000       15.000000        13.000000
7   13.000000       15.000000        32.000000
8   12.000000       15.000000        31.000000
9   12.000000       11.000000        30.000000
10  10.000000       11.000000        23.000000
11  10.000000        9.000000        25.000000
12   9.000000       13.000000        25.000000
13   9.000000       14.000000        25.000000
14  12.000000       16.000000        26.000000
15  11.000000       12.000000        26.000000
16   8.000000       12.000000        26.000000
17   9.000000       15.000000        28.000000
18   9.000000       11.000000        29.000000
19   9.000000       15.000000         0.000000
20   8.000000       11.000000        30.000000
21   8.000000       15.000000        30.000000
22   7.000000       12.000000        30.000000
23   7.000000       11.000000        30.000000
24   8.000000       10.000000        14.000000
25   6.000000       14.000000        14.000000
26   8.000000       14.000000        13.000000
27   7.000000       13.000000        35.000000
28   7.000000       18.000000        12.000000
29   7.000000       15.000000        11.000000
30   6.000000       12.000000         9.000000
31   6.000000       15.000000         9.000000
32   6.000000       13.000000         5.000000
33   6.000000       10.000000        21.000000
34   5.000000       16.000000        21.000000
35   5.000000        9.000000        21.000000
36   3.000000       13.000000        20.000000
37   4.000000        5.000000        20.000000
38   2.000000        7.000000        19.000000
39   4.000000        8.000000        17.000000
40   3.000000       12.000000        17.000000
41   3.000000        8.000000        16.000000
42   2.000000       10.000000        15.000000
43   2.000000       13.000000         4.000000
44   2.000000       15.000000         3.000000
45   0.000000       12.000000         0.000000
46   0.000000       12.000000        30.000000
47   0.000000       14.000000         0.000000
48   0.000000        5.000000         0.000000
49   0.000000       12.000000        21.387755

In [62]:
# Remove the col1 imputed value
df1 = df0.copy()

df1.iloc[1,0] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0        17.0       14.000000        47.000000
1         NaN       15.000000        44.000000
2        15.0       10.000000        41.000000
3        14.0       12.163265        38.000000
4        14.0        9.000000        37.000000
5        13.0       10.000000        36.000000
6        13.0       15.000000        13.000000
7        13.0       15.000000        32.000000
8        12.0       15.000000        31.000000
9        12.0       11.000000        30.000000
10       10.0       11.000000        23.000000
11       10.0        9.000000        25.000000
12        9.0       13.000000        25.000000
13        9.0       14.000000        25.000000
14       12.0       16.000000        26.000000
15       11.0       12.000000        26.000000
16        8.0       12.000000        26.000000
17        9.0       15.000000        28.000000
18        9.0       11.000000        29.000000
19        9.0       15.000000         0.000000
20        8.0       11.000000        30.000000
21        8.0       15.000000        30.000000
22        7.0       12.000000        30.000000
23        7.0       11.000000        30.000000
24        8.0       10.000000        14.000000
25        6.0       14.000000        14.000000
26        8.0       14.000000        13.000000
27        7.0       13.000000        35.000000
28        7.0       18.000000        12.000000
29        7.0       15.000000        11.000000
30        6.0       12.000000         9.000000
31        6.0       15.000000         9.000000
32        6.0       13.000000         5.000000
33        6.0       10.000000        21.000000
34        5.0       16.000000        21.000000
35        5.0        9.000000        21.000000
36        3.0       13.000000        20.000000
37        4.0        5.000000        20.000000
38        2.0        7.000000        19.000000
39        4.0        8.000000        17.000000
40        3.0       12.000000        17.000000
41        3.0        8.000000        16.000000
42        2.0       10.000000        15.000000
43        2.0       13.000000         4.000000
44        2.0       15.000000         3.000000
45        0.0       12.000000         0.000000
46        0.0       12.000000        30.000000
47        0.0       14.000000         0.000000
48        0.0        5.000000         0.000000
49        0.0       12.000000        21.387755

In [63]:
# Use first 3 rows to build a model and use the last for prediction

X = df1.iloc[[0,2,3,4],1:3]
X

   Administration  Marketing Spend
0       14.000000             47.0
2       10.000000             41.0
3       12.163265             38.0
4        9.000000             37.0

In [64]:
y = df1.iloc[[0,2,3,4],0]
y

0    17.0
2    15.0
3    14.0
4    14.0
Name: R&D Spend, dtype: float64

In [65]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.90294324])

In [66]:
df1.iloc[1,0] = 23.14

In [67]:
df1

    R&D Spend  Administration  Marketing Spend
0       17.00       14.000000        47.000000
1       23.14       15.000000        44.000000
2       15.00       10.000000        41.000000
3       14.00       12.163265        38.000000
4       14.00        9.000000        37.000000
5       13.00       10.000000        36.000000
6       13.00       15.000000        13.000000
7       13.00       15.000000        32.000000
8       12.00       15.000000        31.000000
9       12.00       11.000000        30.000000
10      10.00       11.000000        23.000000
11      10.00        9.000000        25.000000
12       9.00       13.000000        25.000000
13       9.00       14.000000        25.000000
14      12.00       16.000000        26.000000
15      11.00       12.000000        26.000000
16       8.00       12.000000        26.000000
17       9.00       15.000000        28.000000
18       9.00       11.000000        29.000000
19       9.00       15.000000         0.000000
20       8.00       11.000000        30.000000
21       8.00       15.000000        30.000000
22       7.00       12.000000        30.000000
23       7.00       11.000000        30.000000
24       8.00       10.000000        14.000000
25       6.00       14.000000        14.000000
26       8.00       14.000000        13.000000
27       7.00       13.000000        35.000000
28       7.00       18.000000        12.000000
29       7.00       15.000000        11.000000
30       6.00       12.000000         9.000000
31       6.00       15.000000         9.000000
32       6.00       13.000000         5.000000
33       6.00       10.000000        21.000000
34       5.00       16.000000        21.000000
35       5.00        9.000000        21.000000
36       3.00       13.000000        20.000000
37       4.00        5.000000        20.000000
38       2.00        7.000000        19.000000
39       4.00        8.000000        17.000000
40       3.00       12.000000        17.000000
41       3.00        8.000000        16.000000
42       2.00       10.000000        15.000000
43       2.00       13.000000         4.000000
44       2.00       15.000000         3.000000
45       0.00       12.000000         0.000000
46       0.00       12.000000        30.000000
47       0.00       14.000000         0.000000
48       0.00        5.000000         0.000000
49       0.00       12.000000        21.387755

In [68]:
# Remove the col2 imputed value

df1.iloc[3,1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0       17.00            14.0        47.000000
1       23.14            15.0        44.000000
2       15.00            10.0        41.000000
3       14.00             NaN        38.000000
4       14.00             9.0        37.000000
5       13.00            10.0        36.000000
6       13.00            15.0        13.000000
7       13.00            15.0        32.000000
8       12.00            15.0        31.000000
9       12.00            11.0        30.000000
10      10.00            11.0        23.000000
11      10.00             9.0        25.000000
12       9.00            13.0        25.000000
13       9.00            14.0        25.000000
14      12.00            16.0        26.000000
15      11.00            12.0        26.000000
16       8.00            12.0        26.000000
17       9.00            15.0        28.000000
18       9.00            11.0        29.000000
19       9.00            15.0         0.000000
20       8.00            11.0        30.000000
21       8.00            15.0        30.000000
22       7.00            12.0        30.000000
23       7.00            11.0        30.000000
24       8.00            10.0        14.000000
25       6.00            14.0        14.000000
26       8.00            14.0        13.000000
27       7.00            13.0        35.000000
28       7.00            18.0        12.000000
29       7.00            15.0        11.000000
30       6.00            12.0         9.000000
31       6.00            15.0         9.000000
32       6.00            13.0         5.000000
33       6.00            10.0        21.000000
34       5.00            16.0        21.000000
35       5.00             9.0        21.000000
36       3.00            13.0        20.000000
37       4.00             5.0        20.000000
38       2.00             7.0        19.000000
39       4.00             8.0        17.000000
40       3.00            12.0        17.000000
41       3.00             8.0        16.000000
42       2.00            10.0        15.000000
43       2.00            13.0         4.000000
44       2.00            15.0         3.000000
45       0.00            12.0         0.000000
46       0.00            12.0        30.000000
47       0.00            14.0         0.000000
48       0.00             5.0         0.000000
49       0.00            12.0        21.387755

In [69]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[[0,1,2,4],[0,2]]
X

   R&D Spend  Marketing Spend
0      17.00             47.0
1      23.14             44.0
2      15.00             41.0
4      14.00             37.0

In [70]:
y = df1.iloc[[0,1,2,4],1]
y

0    14.0
1    15.0
2    10.0
4     9.0
Name: Administration, dtype: float64

In [71]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([9.02655196])

In [72]:
df1.iloc[3,1] = 11.06

In [73]:
df1

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       23.14           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00           11.06        38.000000
4       14.00            9.00        37.000000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [74]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       23.14           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00           11.06        38.000000
4       14.00            9.00              NaN
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [75]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

   R&D Spend  Administration
0      17.00           14.00
1      23.14           15.00
2      15.00           10.00
3      14.00           11.06

In [76]:
y = df1.iloc[0:4,-1]
y

0    47.0
1    44.0
2    41.0
3    38.0
Name: Marketing Spend, dtype: float64

In [77]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37.55706491])

In [78]:
df1.iloc[4,-1] = 31.56

In [79]:
# After 1st Iteration
df1

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       23.14           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00           11.06        38.000000
4       14.00            9.00        31.560000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [80]:
# Subtract 0th iteration from 1st iteration

df1 - df0

    R&D Spend  Administration  Marketing Spend
0    0.000000        0.000000             0.00
1   15.976735        0.000000             0.00
2    0.000000        0.000000             0.00
3    0.000000       -1.103265             0.00
4    0.000000        0.000000            -5.44
5    0.000000        0.000000             0.00
6    0.000000        0.000000             0.00
7    0.000000        0.000000             0.00
8    0.000000        0.000000             0.00
9    0.000000        0.000000             0.00
10   0.000000        0.000000             0.00
11   0.000000        0.000000             0.00
12   0.000000        0.000000             0.00
13   0.000000        0.000000             0.00
14   0.000000        0.000000             0.00
15   0.000000        0.000000             0.00
16   0.000000        0.000000             0.00
17   0.000000        0.000000             0.00
18   0.000000        0.000000             0.00
19   0.000000        0.000000             0.00
20   0.000000        0.000000             0.00
21   0.000000        0.000000             0.00
22   0.000000        0.000000             0.00
23   0.000000        0.000000             0.00
24   0.000000        0.000000             0.00
25   0.000000        0.000000             0.00
26   0.000000        0.000000             0.00
27   0.000000        0.000000             0.00
28   0.000000        0.000000             0.00
29   0.000000        0.000000             0.00
30   0.000000        0.000000             0.00
31   0.000000        0.000000             0.00
32   0.000000        0.000000             0.00
33   0.000000        0.000000             0.00
34   0.000000        0.000000             0.00
35   0.000000        0.000000             0.00
36   0.000000        0.000000             0.00
37   0.000000        0.000000             0.00
38   0.000000        0.000000             0.00
39   0.000000        0.000000             0.00
40   0.000000        0.000000             0.00
41   0.000000        0.000000             0.00
42   0.000000        0.000000             0.00
43   0.000000        0.000000             0.00
44   0.000000        0.000000             0.00
45   0.000000        0.000000             0.00
46   0.000000        0.000000             0.00
47   0.000000        0.000000             0.00
48   0.000000        0.000000             0.00
49   0.000000        0.000000             0.00

In [81]:
df2 = df1.copy()

df2.iloc[1,0] = np.NaN

df2

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1         NaN           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           11.06        38.000000
4        14.0            9.00        31.560000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [82]:
X = df2.iloc[[0,2,3,4],1:3]
y = df2.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16.48489598])

In [83]:
df2.iloc[1,0] = 23.78

In [84]:
df2.iloc[3,1] = np.NaN
X = df2.iloc[[0,1,2,4],[0,2]]
y = df2.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.02642414])

In [85]:
df2.iloc[3,1] = 11.22

In [86]:
df2.iloc[4,-1] = np.NaN

X = df2.iloc[0:4,0:2]
y = df2.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37.59261491])

In [87]:
df2.iloc[4,-1] = 31.56

In [88]:
df2

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       23.78           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00           11.22        38.000000
4       14.00            9.00        31.560000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [89]:
df2 - df1

    R&D Spend  Administration  Marketing Spend
0        0.00            0.00              0.0
1        0.64            0.00              0.0
2        0.00            0.00              0.0
3        0.00            0.16              0.0
4        0.00            0.00              0.0
5        0.00            0.00              0.0
6        0.00            0.00              0.0
7        0.00            0.00              0.0
8        0.00            0.00              0.0
9        0.00            0.00              0.0
10       0.00            0.00              0.0
11       0.00            0.00              0.0
12       0.00            0.00              0.0
13       0.00            0.00              0.0
14       0.00            0.00              0.0
15       0.00            0.00              0.0
16       0.00            0.00              0.0
17       0.00            0.00              0.0
18       0.00            0.00              0.0
19       0.00            0.00              0.0
20       0.00            0.00              0.0
21       0.00            0.00              0.0
22       0.00            0.00              0.0
23       0.00            0.00              0.0
24       0.00            0.00              0.0
25       0.00            0.00              0.0
26       0.00            0.00              0.0
27       0.00            0.00              0.0
28       0.00            0.00              0.0
29       0.00            0.00              0.0
30       0.00            0.00              0.0
31       0.00            0.00              0.0
32       0.00            0.00              0.0
33       0.00            0.00              0.0
34       0.00            0.00              0.0
35       0.00            0.00              0.0
36       0.00            0.00              0.0
37       0.00            0.00              0.0
38       0.00            0.00              0.0
39       0.00            0.00              0.0
40       0.00            0.00              0.0
41       0.00            0.00              0.0
42       0.00            0.00              0.0
43       0.00            0.00              0.0
44       0.00            0.00              0.0
45       0.00            0.00              0.0
46       0.00            0.00              0.0
47       0.00            0.00              0.0
48       0.00            0.00              0.0
49       0.00            0.00              0.0

In [90]:
df3 = df2.copy()

df3.iloc[1,0] = np.NaN

df3

    R&D Spend  Administration  Marketing Spend
0        17.0           14.00        47.000000
1         NaN           15.00        44.000000
2        15.0           10.00        41.000000
3        14.0           11.22        38.000000
4        14.0            9.00        31.560000
5        13.0           10.00        36.000000
6        13.0           15.00        13.000000
7        13.0           15.00        32.000000
8        12.0           15.00        31.000000
9        12.0           11.00        30.000000
10       10.0           11.00        23.000000
11       10.0            9.00        25.000000
12        9.0           13.00        25.000000
13        9.0           14.00        25.000000
14       12.0           16.00        26.000000
15       11.0           12.00        26.000000
16        8.0           12.00        26.000000
17        9.0           15.00        28.000000
18        9.0           11.00        29.000000
19        9.0           15.00         0.000000
20        8.0           11.00        30.000000
21        8.0           15.00        30.000000
22        7.0           12.00        30.000000
23        7.0           11.00        30.000000
24        8.0           10.00        14.000000
25        6.0           14.00        14.000000
26        8.0           14.00        13.000000
27        7.0           13.00        35.000000
28        7.0           18.00        12.000000
29        7.0           15.00        11.000000
30        6.0           12.00         9.000000
31        6.0           15.00         9.000000
32        6.0           13.00         5.000000
33        6.0           10.00        21.000000
34        5.0           16.00        21.000000
35        5.0            9.00        21.000000
36        3.0           13.00        20.000000
37        4.0            5.00        20.000000
38        2.0            7.00        19.000000
39        4.0            8.00        17.000000
40        3.0           12.00        17.000000
41        3.0            8.00        16.000000
42        2.0           10.00        15.000000
43        2.0           13.00         4.000000
44        2.0           15.00         3.000000
45        0.0           12.00         0.000000
46        0.0           12.00        30.000000
47        0.0           14.00         0.000000
48        0.0            5.00         0.000000
49        0.0           12.00        21.387755

In [91]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16.35591793])

In [92]:
df3.iloc[1,0] = 24.57

In [93]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.06575135])

In [94]:
df3.iloc[3,1] = 11.37

In [95]:
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

c:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37.63453865])

In [96]:
df3.iloc[4,-1] = 45.53

In [97]:
df2.iloc[3,1] = 11.22

In [98]:
df3

    R&D Spend  Administration  Marketing Spend
0       17.00           14.00        47.000000
1       24.57           15.00        44.000000
2       15.00           10.00        41.000000
3       14.00           11.37        38.000000
4       14.00            9.00        45.530000
5       13.00           10.00        36.000000
6       13.00           15.00        13.000000
7       13.00           15.00        32.000000
8       12.00           15.00        31.000000
9       12.00           11.00        30.000000
10      10.00           11.00        23.000000
11      10.00            9.00        25.000000
12       9.00           13.00        25.000000
13       9.00           14.00        25.000000
14      12.00           16.00        26.000000
15      11.00           12.00        26.000000
16       8.00           12.00        26.000000
17       9.00           15.00        28.000000
18       9.00           11.00        29.000000
19       9.00           15.00         0.000000
20       8.00           11.00        30.000000
21       8.00           15.00        30.000000
22       7.00           12.00        30.000000
23       7.00           11.00        30.000000
24       8.00           10.00        14.000000
25       6.00           14.00        14.000000
26       8.00           14.00        13.000000
27       7.00           13.00        35.000000
28       7.00           18.00        12.000000
29       7.00           15.00        11.000000
30       6.00           12.00         9.000000
31       6.00           15.00         9.000000
32       6.00           13.00         5.000000
33       6.00           10.00        21.000000
34       5.00           16.00        21.000000
35       5.00            9.00        21.000000
36       3.00           13.00        20.000000
37       4.00            5.00        20.000000
38       2.00            7.00        19.000000
39       4.00            8.00        17.000000
40       3.00           12.00        17.000000
41       3.00            8.00        16.000000
42       2.00           10.00        15.000000
43       2.00           13.00         4.000000
44       2.00           15.00         3.000000
45       0.00           12.00         0.000000
46       0.00           12.00        30.000000
47       0.00           14.00         0.000000
48       0.00            5.00         0.000000
49       0.00           12.00        21.387755

In [99]:
df3 - df2

    R&D Spend  Administration  Marketing Spend
0        0.00            0.00             0.00
1        0.79            0.00             0.00
2        0.00            0.00             0.00
3        0.00            0.15             0.00
4        0.00            0.00            13.97
5        0.00            0.00             0.00
6        0.00            0.00             0.00
7        0.00            0.00             0.00
8        0.00            0.00             0.00
9        0.00            0.00             0.00
10       0.00            0.00             0.00
11       0.00            0.00             0.00
12       0.00            0.00             0.00
13       0.00            0.00             0.00
14       0.00            0.00             0.00
15       0.00            0.00             0.00
16       0.00            0.00             0.00
17       0.00            0.00             0.00
18       0.00            0.00             0.00
19       0.00            0.00             0.00
20       0.00            0.00             0.00
21       0.00            0.00             0.00
22       0.00            0.00             0.00
23       0.00            0.00             0.00
24       0.00            0.00             0.00
25       0.00            0.00             0.00
26       0.00            0.00             0.00
27       0.00            0.00             0.00
28       0.00            0.00             0.00
29       0.00            0.00             0.00
30       0.00            0.00             0.00
31       0.00            0.00             0.00
32       0.00            0.00             0.00
33       0.00            0.00             0.00
34       0.00            0.00             0.00
35       0.00            0.00             0.00
36       0.00            0.00             0.00
37       0.00            0.00             0.00
38       0.00            0.00             0.00
39       0.00            0.00             0.00
40       0.00            0.00             0.00
41       0.00            0.00             0.00
42       0.00            0.00             0.00
43       0.00            0.00             0.00
44       0.00            0.00             0.00
45       0.00            0.00             0.00
46       0.00            0.00             0.00
47       0.00            0.00             0.00
48       0.00            0.00             0.00
49       0.00            0.00             0.00